In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pandapower
import pandapower.networks as pn
import pandapower.topology
import pandapower.plotting
import pandapower.converter
import pandapower.estimation
import pandapower.test
import numpy as np

In [2]:
network = pn.case_illinois200()

In [4]:
network.gen[]

,bus,controllable,in_service,name,p_mw,scaling,sn_mva,type,vm_pu,slack,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar,slack_weight
0,48,True,True,None,4.53,1.0,NaN,None,1.04,False,4.53,1.36,0.55,-2.11,0.0
1,49,True,True,None,4.53,1.0,NaN,None,1.04,False,4.53,1.36,0.55,-2.11,0.0
2,50,True,True,None,4.53,1.0,NaN,None,1.04,False,4.53,1.36,0.55,-2.11,0.0
3,51,True,True,None,4.53,1.0,NaN,None,1.04,False,4.53,1.36,0.55,-2.11,0.0
4,52,True,True,None,9.07,1.0,NaN,None,1.04,False,9.07,2.72,1.11,-4.23,0.0
5,64,True,True,None,60.66,1.0,NaN,None,1.04,False,150.40,45.12,21.66,-32.04,0.0
6,66,True,True,None,4.70,1.0,NaN,None,1.04,False,4.70,1.41,0.57,-2.19,0.0
7,67,True,True,None,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
8,68,True,True,None,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
9,69,True,True,None,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
10,70,True,True,None,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
11,71,True,True,None,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
12,72,True,True,None,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
13,75,True,True,None,1.20,1.0,NaN,None,1.04,False,4.00,1.20,0.44,-2.04,0.0
14,76,True,True,None,0.72,1.0,NaN,None,1.04,False,2.40,0.72,0.27,-1.22,0.0
15,89,True,True,None,0.96,1.0,NaN,None,1.04,False,3.20,0.96,0.36,-1.63,0.0
16,90,True,True,None,1.50,1.0,NaN,None,1.04,False,5.00,1.50,0.55,-2.55,0.0
17,93,True,True,None,18.00,1.0,NaN,None,1.04,False,18.00,5.40,2.20,-8.39,0.0
18,103,True,True,None,52.00,1.0,NaN,None,1.04,False,99.00,29.70,14.26,-21.09,0.0
19,104,True,True,None,63.00,1.0,NaN,None,1.04,False,198.00,59.40,28.51,-42.17,0.0
20,113,True,True,None,1.08,1.0,NaN,None,1.04,False,1.70,0.51,0.24,-0.36,0.0
21,114,True,True,None,75.12,1.0,NaN,None,1.04,False,150.00,45.00,21.60,-31.95,0.0
22,124,True,True,None,130.05,1.0,NaN,None,1.04,False,130.05,39.02,15.87,-60.60,0.0
23,125,True,True,None,130.05,1.0,NaN,None,1.04,False,130.05,39.02,15.87,-60.60,0.0
24,126,True,True,None,130.05,1.0,NaN,None,1.04,False,130.05,39.02,15.87,-60.60,0.0
25,134,True,True,None,216.77,1.0,NaN,None,1.04,False,446.40,133.92,54.46,-208.02,0.0
26,135,True,True,None,196.42,1.0,NaN,None,1.04,False,446.40,133.92,54.46,-208.02,0.0
27,146,True,True,None,42.00,1.0,NaN,None,1.04,False,100.50,30.15,14.47,-21.41,0.0
28,150,True,True,None,5.40,1.0,NaN,None,1.04,False,5.40,1.62,0.66,-2.52,0.0
29,151,True,True,None,77.22,1.0,NaN,None,1.04,False,77.22,23.17,9.42,-35.99,0.0
30,152,True,True,None,77.22,1.0,NaN,None,1.04,False,77.22,23.17,9.42,-35.99,0.0
31,153,True,True,None,77.22,1.0,NaN,None,1.04,False,77.22,23.17,9.42,-35.99,0.0
32,154,True,True,None,77.22,1.0,NaN,None,1.04,False,77.22,23.17,9.42,-35.99,0.0
33,166,True,True,None,2.82,1.0,NaN,None,1.04,False,9.40,2.82,1.04,-4.78,0.0
34,169,True,True,None,2.82,1.0,NaN,None,1.04,False,9.40,2.82,1.04,-4.78,0.0
35,181,True,True,None,17.50,1.0,NaN,None,1.04,False,17.50,5.25,2.14,-8.16,0.0
36,182,True,True,None,26.60,1.0,NaN,None,1.04,False,26.60,7.98,3.25,-12.40,0.0

In [59]:
def assign_gen_type(network):
    
    
    t1,t2 = np.percentile(network.gen['p_mw'],[33,66])
    n_coal,n_gas,n_nuke = 0,0,0
    
    for i in network.gen.index:
        if network.gen.loc[i,'p_mw'] <= t1:
            network.gen.loc[i,'name'] = 'coal_{}'.format(n_coal)
            n_coal += 1
        elif t1 < network.gen.loc[i,'p_mw'] <= t2:
            network.gen.loc[i,'name'] = 'gas_{}'.format(n_gas)
            n_gas += 1
        else:
            network.gen.loc[i,'name'] = 'nuke_{}'.format(n_nuke)
            n_nuke += 1

In [98]:
network.gen

,bus,controllable,in_service,name,p_mw,scaling,sn_mva,type,vm_pu,slack,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar,slack_weight
0,48,True,True,gas_0,4.53,1.0,NaN,None,1.04,False,4.53,1.36,0.55,-2.11,0.0
1,49,True,True,gas_1,4.53,1.0,NaN,None,1.04,False,4.53,1.36,0.55,-2.11,0.0
2,50,True,True,gas_2,4.53,1.0,NaN,None,1.04,False,4.53,1.36,0.55,-2.11,0.0
3,51,True,True,gas_3,4.53,1.0,NaN,None,1.04,False,4.53,1.36,0.55,-2.11,0.0
4,52,True,True,gas_4,9.07,1.0,NaN,None,1.04,False,9.07,2.72,1.11,-4.23,0.0
5,64,True,True,nuke_0,60.66,1.0,NaN,None,1.04,False,150.40,45.12,21.66,-32.04,0.0
6,66,True,True,gas_5,4.70,1.0,NaN,None,1.04,False,4.70,1.41,0.57,-2.19,0.0
7,67,True,True,gas_6,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
8,68,True,True,gas_7,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
9,69,True,True,gas_8,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
10,70,True,True,gas_9,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
11,71,True,True,gas_10,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
12,72,True,True,gas_11,27.92,1.0,NaN,None,1.04,False,27.92,8.38,3.41,-13.01,0.0
13,75,True,True,coal_0,1.20,1.0,NaN,None,1.04,False,4.00,1.20,0.44,-2.04,0.0
14,76,True,True,coal_1,0.72,1.0,NaN,None,1.04,False,2.40,0.72,0.27,-1.22,0.0
15,89,True,True,coal_2,0.96,1.0,NaN,None,1.04,False,3.20,0.96,0.36,-1.63,0.0
16,90,True,True,gas_12,1.50,1.0,NaN,None,1.04,False,5.00,1.50,0.55,-2.55,0.0
17,93,True,True,gas_13,18.00,1.0,NaN,None,1.04,False,18.00,5.40,2.20,-8.39,0.0
18,103,True,True,nuke_1,52.00,1.0,NaN,None,1.04,False,99.00,29.70,14.26,-21.09,0.0
19,104,True,True,nuke_2,63.00,1.0,NaN,None,1.04,False,198.00,59.40,28.51,-42.17,0.0
20,113,True,True,coal_3,1.08,1.0,NaN,None,1.04,False,1.70,0.51,0.24,-0.36,0.0
21,114,True,True,nuke_3,75.12,1.0,NaN,None,1.04,False,150.00,45.00,21.60,-31.95,0.0
22,124,True,True,nuke_4,130.05,1.0,NaN,None,1.04,False,130.05,39.02,15.87,-60.60,0.0
23,125,True,True,nuke_5,130.05,1.0,NaN,None,1.04,False,130.05,39.02,15.87,-60.60,0.0
24,126,True,True,nuke_6,130.05,1.0,NaN,None,1.04,False,130.05,39.02,15.87,-60.60,0.0
25,134,True,True,nuke_7,216.77,1.0,NaN,None,1.04,False,446.40,133.92,54.46,-208.02,0.0
26,135,True,True,nuke_8,196.42,1.0,NaN,None,1.04,False,446.40,133.92,54.46,-208.02,0.0
27,146,True,True,gas_14,42.00,1.0,NaN,None,1.04,False,100.50,30.15,14.47,-21.41,0.0
28,150,True,True,gas_15,5.40,1.0,NaN,None,1.04,False,5.40,1.62,0.66,-2.52,0.0
29,151,True,True,nuke_9,77.22,1.0,NaN,None,1.04,False,77.22,23.17,9.42,-35.99,0.0
30,152,True,True,nuke_10,77.22,1.0,NaN,None,1.04,False,77.22,23.17,9.42,-35.99,0.0
31,153,True,True,nuke_11,77.22,1.0,NaN,None,1.04,False,77.22,23.17,9.42,-35.99,0.0
32,154,True,True,nuke_12,77.22,1.0,NaN,None,1.04,False,77.22,23.17,9.42,-35.99,0.0
33,166,True,True,gas_16,2.82,1.0,NaN,None,1.04,False,9.40,2.82,1.04,-4.78,0.0
34,169,True,True,gas_17,2.82,1.0,NaN,None,1.04,False,9.40,2.82,1.04,-4.78,0.0
35,181,True,True,gas_18,17.50,1.0,NaN,None,1.04,False,17.50,5.25,2.14,-8.16,0.0
36,182,True,True,gas_19,26.60,1.0,NaN,None,1.04,False,26.60,7.98,3.25,-12.40,0.0

In [60]:
network.res_bus

     vm_pu  va_degree   p_mw  q_mvar     lam_p  lam_q
0      NaN -44.045786   0.00     NaN  19.23724    0.0
1      NaN -44.066735  10.95     NaN  19.23724    0.0
2      NaN -40.877493   0.00     NaN  19.23724    0.0
3      NaN -40.882641   2.72     NaN  19.23724    0.0
4      NaN -32.131465   0.00     NaN  19.23724    0.0
..     ...        ...    ...     ...       ...    ...
195    NaN -37.920150   0.00     NaN  19.23724    0.0
196    NaN -37.920150   0.00     NaN  19.23724    0.0
197    NaN -43.793320   7.97     NaN  19.23724    0.0
198    NaN -36.171521   6.69     NaN  19.23724    0.0
199    NaN -44.053373  14.97     NaN  19.23724    0.0

[200 rows x 6 columns]

In [61]:
#pandapower.create_pwl_cost(network, 48, 'gen', [[0, 20, 1]])

In [204]:
def append_costs(network):
    coal_cost = 30
    gas_cost  = 18.5
    nuke_cost = 5
    
    for i in network.sgen.index:
        network.sgen.drop(i,inplace=True)

    for i in network.poly_cost.index:
    #    if network.poly_cost.loc[i,'et'] == 'gen':
            network.poly_cost.drop(i,inplace=True)
    
    for i in network.gen.index:
        n_bus = network.gen.loc[i,'bus']
        
        if  network.gen.loc[i,'name'][0] == 'c':
            cost = coal_cost
        elif network.gen.loc[i,'name'][0] == 'g':
            cost = gas_cost
        elif network.gen.loc[i,'name'][0] == 'n':
            cost = nuke_cost
        else:
            cost = 0
        
        
        #pandapower.create_pwl_cost(network, n_bus, 'gen', [[network.gen.min_p_mw.at[i], network.gen.max_p_mw.at[i], cost]])
        pandapower.create_poly_cost(network, n_bus, 'gen', cp1_eur_per_mw=0, cp0_eur=cost)
        #pandapower.create_poly_cost(network, n_bus, 'gen', cp1_eur_per_mw=cost)

In [212]:
network.line

,c_nf_per_km,df,from_bus,g_us_per_km,in_service,length_km,max_i_ka,max_loading_percent,name,parallel,r_ohm_per_km,std_type,to_bus,type,x_ohm_per_km
0,0.000000,1.0,1,0.0,True,1.0,0.502044,100.0,None,1,0.089004,None,0,ol,0.441583
1,458.310076,1.0,0,0.0,True,1.0,1.110019,100.0,None,1,2.452180,None,118,ol,15.837995
2,138.796749,1.0,123,0.0,True,1.0,1.110019,100.0,None,1,0.742584,None,0,ol,4.796443
3,105.301002,1.0,192,0.0,True,1.0,1.110019,100.0,None,1,0.563121,None,0,ol,3.637007
4,0.000000,1.0,3,0.0,True,1.0,0.502044,100.0,None,1,0.075779,None,2,ol,0.436822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,211.805444,1.0,172,0.0,True,1.0,1.110019,100.0,None,1,1.133647,None,174,ol,7.321757
175,418.596555,1.0,173,0.0,True,1.0,1.110019,100.0,None,1,2.374152,None,187,ol,16.219140
176,602.923452,1.0,179,0.0,True,1.0,1.110019,100.0,None,1,3.490474,None,190,ol,24.316278
177,301.060579,1.0,179,0.0,True,1.0,1.110019,100.0,None,1,1.611466,None,198,ol,10.407811
178,108.710749,1.0,180,0.0,True,1.0,1.110019,100.0,None,1,0.581239,None,193,ol,3.753784

In [205]:
network = pn.case_illinois200()

In [206]:
assign_gen_type(network)
append_costs(network)

In [207]:
#network.poly_cost['cp2_eur_per_mw2'] = .0
#network.poly_cost['cp0_eur'] = .0

pandapower.__version__

'2.10.1'

In [208]:
network.poly_cost

,element,et,cp0_eur,cp1_eur_per_mw,cp2_eur_per_mw2,cq0_eur,cq1_eur_per_mvar,cq2_eur_per_mvar2
0,48,gen,18.5,0.0,0.0,0.0,0.0,0.0
1,49,gen,18.5,0.0,0.0,0.0,0.0,0.0
2,50,gen,18.5,0.0,0.0,0.0,0.0,0.0
3,51,gen,18.5,0.0,0.0,0.0,0.0,0.0
4,52,gen,18.5,0.0,0.0,0.0,0.0,0.0
5,64,gen,5.0,0.0,0.0,0.0,0.0,0.0
6,66,gen,18.5,0.0,0.0,0.0,0.0,0.0
7,67,gen,18.5,0.0,0.0,0.0,0.0,0.0
8,68,gen,18.5,0.0,0.0,0.0,0.0,0.0
9,69,gen,18.5,0.0,0.0,0.0,0.0,0.0
10,70,gen,18.5,0.0,0.0,0.0,0.0,0.0
11,71,gen,18.5,0.0,0.0,0.0,0.0,0.0
12,72,gen,18.5,0.0,0.0,0.0,0.0,0.0
13,75,gen,30.0,0.0,0.0,0.0,0.0,0.0
14,76,gen,30.0,0.0,0.0,0.0,0.0,0.0
15,89,gen,30.0,0.0,0.0,0.0,0.0,0.0
16,90,gen,18.5,0.0,0.0,0.0,0.0,0.0
17,93,gen,18.5,0.0,0.0,0.0,0.0,0.0
18,103,gen,5.0,0.0,0.0,0.0,0.0,0.0
19,104,gen,5.0,0.0,0.0,0.0,0.0,0.0
20,113,gen,30.0,0.0,0.0,0.0,0.0,0.0
21,114,gen,5.0,0.0,0.0,0.0,0.0,0.0
22,124,gen,5.0,0.0,0.0,0.0,0.0,0.0
23,125,gen,5.0,0.0,0.0,0.0,0.0,0.0
24,126,gen,5.0,0.0,0.0,0.0,0.0,0.0
25,134,gen,5.0,0.0,0.0,0.0,0.0,0.0
26,135,gen,5.0,0.0,0.0,0.0,0.0,0.0
27,146,gen,18.5,0.0,0.0,0.0,0.0,0.0
28,150,gen,18.5,0.0,0.0,0.0,0.0,0.0
29,151,gen,5.0,0.0,0.0,0.0,0.0,0.0
30,152,gen,5.0,0.0,0.0,0.0,0.0,0.0
31,153,gen,5.0,0.0,0.0,0.0,0.0,0.0
32,154,gen,5.0,0.0,0.0,0.0,0.0,0.0
33,166,gen,18.5,0.0,0.0,0.0,0.0,0.0
34,169,gen,18.5,0.0,0.0,0.0,0.0,0.0
35,181,gen,18.5,0.0,0.0,0.0,0.0,0.0
36,182,gen,18.5,0.0,0.0,0.0,0.0,0.0

In [209]:
pandapower.rundcopp(network)
#pandapower.runopp(network,verbose=False)

In [210]:
network.res_cost

0.0

In [211]:
network.res_cost

0.0

for i in network.sgen.index:
    pandapower.create_pwl_cost(network, network.sgen.loc[i,'bus'], 'sgen', [[network.sgen.min_p_mw.at[i], network.sgen.max_p_mw.at[i], 0]])

In [32]:
network.res_gen

      p_mw  q_mvar  va_degree  vm_pu
0     4.53     NaN -37.884074   1.04
1     4.53     NaN -38.215919   1.04
2     4.53     NaN -37.674643   1.04
3     4.53     NaN -38.279119   1.04
4     9.07     NaN -36.268766   1.04
5    60.66     NaN -34.633386   1.04
6     4.70     NaN -33.952096   1.04
7    27.92     NaN -30.102838   1.04
8    27.92     NaN -32.822437   1.04
9    27.92     NaN -31.151408   1.04
10   27.92     NaN -33.037532   1.04
11   27.92     NaN -33.148631   1.04
12   27.92     NaN -31.999664   1.04
13    1.20     NaN -34.215848   1.04
14    0.72     NaN -33.850804   1.04
15    0.96     NaN -37.783497   1.04
16    1.50     NaN -38.604883   1.04
17   18.00     NaN -33.621756   1.04
18   52.00     NaN -31.700424   1.04
19   63.00     NaN -32.169992   1.04
20    1.08     NaN -34.768196   1.04
21   75.12     NaN -32.335060   1.04
22  130.05     NaN -24.464388   1.04
23  130.05     NaN -27.334560   1.04
24  130.05     NaN -29.894236   1.04
25  216.77     NaN -28.088595   1.04
26  196.42     NaN -29.158404   1.04
27   42.00     NaN -35.678574   1.04
28    5.40     NaN -31.738493   1.04
29   77.22     NaN -27.405066   1.04
30   77.22     NaN -25.506299   1.04
31   77.22     NaN -29.119380   1.04
32   77.22     NaN -29.256757   1.04
33    2.82     NaN -41.909897   1.04
34    2.82     NaN -41.621644   1.04
35   17.50     NaN -35.394654   1.04
36   26.60     NaN -36.638773   1.04

In [267]:
net = pn.create_cigre_network_mv()
for _ in range(15):
    p = random.randint(0,100)
    pandapower.create_gen(net, _,p , min_p_mw=0, max_p_mw=p)

assign_gen_type(net)
append_costs(net)


#pandapower.create_pwl_cost(net, 0, 'gen', [[0, 20, 1], [20, 30, 2]])
pandapower.runopp(net)
cost = net.res_cost

gen vm_pu < bus min_vm_pu for gens [0]. Setting bus limit for these gens.

In [268]:
net.gen

,name,bus,p_mw,vm_pu,sn_mva,min_q_mvar,max_q_mvar,scaling,slack,in_service,slack_weight,type,min_p_mw,max_p_mw,power_station_trafo
0,gas_0,0,49.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,49.0,NaN
1,gas_1,1,50.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,50.0,NaN
2,coal_0,2,29.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,29.0,NaN
3,coal_1,3,36.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,36.0,NaN
4,nuke_0,4,58.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,58.0,NaN
5,nuke_1,5,86.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,86.0,NaN
6,coal_2,6,22.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,22.0,NaN
7,gas_2,7,45.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,45.0,NaN
8,coal_3,8,25.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,25.0,NaN
9,nuke_2,9,66.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,66.0,NaN
10,gas_3,10,42.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,42.0,NaN
11,nuke_3,11,64.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,64.0,NaN
12,gas_4,12,41.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,41.0,NaN
13,nuke_4,13,66.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,66.0,NaN
14,coal_4,14,12.0,1.0,NaN,NaN,NaN,1.0,False,True,0.0,None,0.0,12.0,NaN

In [269]:
net.res_cost

242.51826432292805

In [270]:
net.poly_cost

Empty DataFrame
Columns: [element, et, cp0_eur, cp1_eur_per_mw, cp2_eur_per_mw2, cq0_eur, cq1_eur_per_mvar, cq2_eur_per_mvar2]
Index: []

In [ ]:
network.